name: Build and Push Golang Image to AWS ECR
on:
  workflow_dispatch:

permissions:
  contents: write


jobs:
    Build_and_push_to_AWS:
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v4

        - name: Debug workspace
          run: |
            echo "Listing workspace:"
            ls -R .

        
        - name: config aws cred
          uses: aws-actions/configure-aws-credentials@v1
          with: 
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: eu-north-1

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v1
          
        - name: Automatic Tagging of Releases
          id: increment-git-tag
          run: |
            NEW_TAG=$(bash ./build/git_update.sh -v patch)
            echo "git-tag=$NEW_TAG" >> $GITHUB_OUTPUT


        - name: Push the Image to Amazon ECR backend
          id: build-image-backend
          env:
            ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
            ECR_REPOSITORY: project_plane_backend
            IMAGE_TAG: ${{ steps.increment-git-tag.outputs.git-tag }}
          run: |
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f backend/Dockerfile backend
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
            
        - name: Push the Image to Amazon ECR frontend
          id: build-image-frontend
          env:
            ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
            ECR_REPOSITORY: project_plane_frontend
            IMAGE_TAG: ${{ steps.increment-git-tag.outputs.git-tag }}
          run: |
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f frontend/Dockerfile frontend
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
